@import "tailwindcss";

.login {
     background-color: rgba(130,179,97,0.923);
    border: none;

}
.login:focus{
    outline: none;
box-shadow:none;


}
.login:hover{
     background-color: rgba(107, 148, 80, 0.923);
     
}
.my-custom-input:focus{
       box-shadow: none !important;
  border-color: #d1d5db !important; /* Tailwind's gray-300 */
  outline: none !important;
  background-color:white !important;
  border-color:rgba(130,179,97,0.923) !important;

}
.my-custom-input:hover{
    border-color:rgba(130,179,97,0.923) !important; 
}
.navbar{
     background-color: white;
}


/* home.tsx*/

.icon{
     color: rgba(130,179,97,0.923);
}

/* In your global CSS (e.g. styles.css or App.css) */
.icon {
  color: rgba(130, 179, 97, 0.923);
  font-size: 6rem !important;
}
@media (min-width: 640px) {
  .icon {
    font-size: 8rem !important;
  }
}
@media (min-width: 768px) {
  .icon {
    font-size: 10rem !important;
  }
}
@media (min-width: 1024px) {
  .icon {
    font-size: 12rem !important;
  }
}
.go{
  background-color: rgba(130,179,97,0.923);
border: none;
}
.go:focus{
   outline: none;
box-shadow:none;

}


